/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)


// ContentPackageReleaseComponentsApiService ContentPackageReleaseComponentsApi service
type ContentPackageReleaseComponentsApiService service

type ApiContentDebPackageReleaseComponentsCreateRequest struct {
	ctx context.Context
	ApiService *ContentPackageReleaseComponentsApiService
	debPackageReleaseComponent *DebPackageReleaseComponent
}

func (r ApiContentDebPackageReleaseComponentsCreateRequest) DebPackageReleaseComponent(debPackageReleaseComponent DebPackageReleaseComponent) ApiContentDebPackageReleaseComponentsCreateRequest {
	r.debPackageReleaseComponent = &debPackageReleaseComponent
	return r
}

func (r ApiContentDebPackageReleaseComponentsCreateRequest) Execute() (*DebPackageReleaseComponentResponse, *http.Response, error) {
	return r.ApiService.ContentDebPackageReleaseComponentsCreateExecute(r)
}

/*
ContentDebPackageReleaseComponentsCreate Create a package release component

A PackageReleaseComponent associates a Package with a ReleaseComponent.

Associated artifacts: None; contains only metadata.

This simply stores the information which packages are part of which components.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiContentDebPackageReleaseComponentsCreateRequest
*/
func (a *ContentPackageReleaseComponentsApiService) ContentDebPackageReleaseComponentsCreate(ctx context.Context) ApiContentDebPackageReleaseComponentsCreateRequest {
	return ApiContentDebPackageReleaseComponentsCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DebPackageReleaseComponentResponse
func (a *ContentPackageReleaseComponentsApiService) ContentDebPackageReleaseComponentsCreateExecute(r ApiContentDebPackageReleaseComponentsCreateRequest) (*DebPackageReleaseComponentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DebPackageReleaseComponentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentPackageReleaseComponentsApiService.ContentDebPackageReleaseComponentsCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/content/deb/package_release_components/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.debPackageReleaseComponent == nil {
		return localVarReturnValue, nil, reportError("debPackageReleaseComponent is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.debPackageReleaseComponent
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiContentDebPackageReleaseComponentsListRequest struct {
	ctx context.Context
	ApiService *ContentPackageReleaseComponentsApiService
	limit *int32
	offset *int32
	ordering *[]string
	package_ *string
	releaseComponent *string
	repositoryVersion *string
	repositoryVersionAdded *string
	repositoryVersionRemoved *string
	fields *string
	excludeFields *string
}

// Number of results to return per page.
func (r ApiContentDebPackageReleaseComponentsListRequest) Limit(limit int32) ApiContentDebPackageReleaseComponentsListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ApiContentDebPackageReleaseComponentsListRequest) Offset(offset int32) ApiContentDebPackageReleaseComponentsListRequest {
	r.offset = &offset
	return r
}

// Ordering
func (r ApiContentDebPackageReleaseComponentsListRequest) Ordering(ordering []string) ApiContentDebPackageReleaseComponentsListRequest {
	r.ordering = &ordering
	return r
}

// Filter results where package matches value
func (r ApiContentDebPackageReleaseComponentsListRequest) Package_(package_ string) ApiContentDebPackageReleaseComponentsListRequest {
	r.package_ = &package_
	return r
}

// Filter results where release_component matches value
func (r ApiContentDebPackageReleaseComponentsListRequest) ReleaseComponent(releaseComponent string) ApiContentDebPackageReleaseComponentsListRequest {
	r.releaseComponent = &releaseComponent
	return r
}

// Repository Version referenced by HREF
func (r ApiContentDebPackageReleaseComponentsListRequest) RepositoryVersion(repositoryVersion string) ApiContentDebPackageReleaseComponentsListRequest {
	r.repositoryVersion = &repositoryVersion
	return r
}

// Repository Version referenced by HREF
func (r ApiContentDebPackageReleaseComponentsListRequest) RepositoryVersionAdded(repositoryVersionAdded string) ApiContentDebPackageReleaseComponentsListRequest {
	r.repositoryVersionAdded = &repositoryVersionAdded
	return r
}

// Repository Version referenced by HREF
func (r ApiContentDebPackageReleaseComponentsListRequest) RepositoryVersionRemoved(repositoryVersionRemoved string) ApiContentDebPackageReleaseComponentsListRequest {
	r.repositoryVersionRemoved = &repositoryVersionRemoved
	return r
}

// A list of fields to include in the response.
func (r ApiContentDebPackageReleaseComponentsListRequest) Fields(fields string) ApiContentDebPackageReleaseComponentsListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ApiContentDebPackageReleaseComponentsListRequest) ExcludeFields(excludeFields string) ApiContentDebPackageReleaseComponentsListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ApiContentDebPackageReleaseComponentsListRequest) Execute() (*PaginateddebPackageReleaseComponentResponseList, *http.Response, error) {
	return r.ApiService.ContentDebPackageReleaseComponentsListExecute(r)
}

/*
ContentDebPackageReleaseComponentsList List package release components

A PackageReleaseComponent associates a Package with a ReleaseComponent.

Associated artifacts: None; contains only metadata.

This simply stores the information which packages are part of which components.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiContentDebPackageReleaseComponentsListRequest
*/
func (a *ContentPackageReleaseComponentsApiService) ContentDebPackageReleaseComponentsList(ctx context.Context) ApiContentDebPackageReleaseComponentsListRequest {
	return ApiContentDebPackageReleaseComponentsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginateddebPackageReleaseComponentResponseList
func (a *ContentPackageReleaseComponentsApiService) ContentDebPackageReleaseComponentsListExecute(r ApiContentDebPackageReleaseComponentsListRequest) (*PaginateddebPackageReleaseComponentResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginateddebPackageReleaseComponentResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentPackageReleaseComponentsApiService.ContentDebPackageReleaseComponentsList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/content/deb/package_release_components/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	if r.ordering != nil {
		localVarQueryParams.Add("ordering", parameterToString(*r.ordering, "csv"))
	}
	if r.package_ != nil {
		localVarQueryParams.Add("package", parameterToString(*r.package_, ""))
	}
	if r.releaseComponent != nil {
		localVarQueryParams.Add("release_component", parameterToString(*r.releaseComponent, ""))
	}
	if r.repositoryVersion != nil {
		localVarQueryParams.Add("repository_version", parameterToString(*r.repositoryVersion, ""))
	}
	if r.repositoryVersionAdded != nil {
		localVarQueryParams.Add("repository_version_added", parameterToString(*r.repositoryVersionAdded, ""))
	}
	if r.repositoryVersionRemoved != nil {
		localVarQueryParams.Add("repository_version_removed", parameterToString(*r.repositoryVersionRemoved, ""))
	}
	if r.fields != nil {
		localVarQueryParams.Add("fields", parameterToString(*r.fields, ""))
	}
	if r.excludeFields != nil {
		localVarQueryParams.Add("exclude_fields", parameterToString(*r.excludeFields, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiContentDebPackageReleaseComponentsReadRequest struct {
	ctx context.Context
	ApiService *ContentPackageReleaseComponentsApiService
	pulpId string
	fields *string
	excludeFields *string
}

// A list of fields to include in the response.
func (r ApiContentDebPackageReleaseComponentsReadRequest) Fields(fields string) ApiContentDebPackageReleaseComponentsReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ApiContentDebPackageReleaseComponentsReadRequest) ExcludeFields(excludeFields string) ApiContentDebPackageReleaseComponentsReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ApiContentDebPackageReleaseComponentsReadRequest) Execute() (*DebPackageReleaseComponentResponse, *http.Response, error) {
	return r.ApiService.ContentDebPackageReleaseComponentsReadExecute(r)
}

/*
ContentDebPackageReleaseComponentsRead Inspect a package release component

A PackageReleaseComponent associates a Package with a ReleaseComponent.

Associated artifacts: None; contains only metadata.

This simply stores the information which packages are part of which components.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpId A UUID string identifying this package release component.
 @return ApiContentDebPackageReleaseComponentsReadRequest
*/
func (a *ContentPackageReleaseComponentsApiService) ContentDebPackageReleaseComponentsRead(ctx context.Context, pulpId string) ApiContentDebPackageReleaseComponentsReadRequest {
	return ApiContentDebPackageReleaseComponentsReadRequest{
		ApiService: a,
		ctx: ctx,
		pulpId: pulpId,
	}
}

// Execute executes the request
//  @return DebPackageReleaseComponentResponse
func (a *ContentPackageReleaseComponentsApiService) ContentDebPackageReleaseComponentsReadExecute(r ApiContentDebPackageReleaseComponentsReadRequest) (*DebPackageReleaseComponentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DebPackageReleaseComponentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentPackageReleaseComponentsApiService.ContentDebPackageReleaseComponentsRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/content/deb/package_release_components/{pulp_id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_id"+"}", url.PathEscape(parameterToString(r.pulpId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		localVarQueryParams.Add("fields", parameterToString(*r.fields, ""))
	}
	if r.excludeFields != nil {
		localVarQueryParams.Add("exclude_fields", parameterToString(*r.excludeFields, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
