/*
 * Pulp 3 API
 *
 * Fetch, Upload, Organize, and Distribute Software Packages
 *
 * API version: v3
 * Contact: pulp-list@redhat.com
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
	"os"
)

// Linger please
var (
	_ _context.Context
)

// ContentInstallerPackagesApiService ContentInstallerPackagesApi service
type ContentInstallerPackagesApiService service

type ApiContentDebInstallerPackagesCreateRequest struct {
	ctx _context.Context
	ApiService *ContentInstallerPackagesApiService
	artifact *string
	relativePath *string
	file **os.File
	repository *string
	upload *string
}

func (r ApiContentDebInstallerPackagesCreateRequest) Artifact(artifact string) ApiContentDebInstallerPackagesCreateRequest {
	r.artifact = &artifact
	return r
}
func (r ApiContentDebInstallerPackagesCreateRequest) RelativePath(relativePath string) ApiContentDebInstallerPackagesCreateRequest {
	r.relativePath = &relativePath
	return r
}
func (r ApiContentDebInstallerPackagesCreateRequest) File(file *os.File) ApiContentDebInstallerPackagesCreateRequest {
	r.file = &file
	return r
}
func (r ApiContentDebInstallerPackagesCreateRequest) Repository(repository string) ApiContentDebInstallerPackagesCreateRequest {
	r.repository = &repository
	return r
}
func (r ApiContentDebInstallerPackagesCreateRequest) Upload(upload string) ApiContentDebInstallerPackagesCreateRequest {
	r.upload = &upload
	return r
}

func (r ApiContentDebInstallerPackagesCreateRequest) Execute() (AsyncOperationResponse, *_nethttp.Response, error) {
	return r.ApiService.ContentDebInstallerPackagesCreateExecute(r)
}

/*
 * ContentDebInstallerPackagesCreate Create an installer package
 * Trigger an asynchronous task to create content,optionally create new repository version.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiContentDebInstallerPackagesCreateRequest
 */
func (a *ContentInstallerPackagesApiService) ContentDebInstallerPackagesCreate(ctx _context.Context) ApiContentDebInstallerPackagesCreateRequest {
	return ApiContentDebInstallerPackagesCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

/*
 * Execute executes the request
 * @return AsyncOperationResponse
 */
func (a *ContentInstallerPackagesApiService) ContentDebInstallerPackagesCreateExecute(r ApiContentDebInstallerPackagesCreateRequest) (AsyncOperationResponse, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentInstallerPackagesApiService.ContentDebInstallerPackagesCreate")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/content/deb/installer_packages/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data", "application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.artifact != nil {
		localVarFormParams.Add("artifact", parameterToString(*r.artifact, ""))
	}
	if r.relativePath != nil {
		localVarFormParams.Add("relative_path", parameterToString(*r.relativePath, ""))
	}
	localVarFormFileName = "file"
	var localVarFile *os.File
	if r.file != nil {
		localVarFile = *r.file
	}
	if localVarFile != nil {
		fbs, _ := _ioutil.ReadAll(localVarFile)
		localVarFileBytes = fbs
		localVarFileName = localVarFile.Name()
		localVarFile.Close()
	}
	if r.repository != nil {
		localVarFormParams.Add("repository", parameterToString(*r.repository, ""))
	}
	if r.upload != nil {
		localVarFormParams.Add("upload", parameterToString(*r.upload, ""))
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiContentDebInstallerPackagesListRequest struct {
	ctx _context.Context
	ApiService *ContentInstallerPackagesApiService
	architecture *string
	autoBuiltPackage *string
	buildEssential *bool
	builtUsing *string
	essential *bool
	installedSize *int32
	limit *int32
	maintainer *string
	multiArch *string
	offset *int32
	ordering *[]string
	origin *string
	originalMaintainer *string
	package_ *string
	priority *string
	repositoryVersion *string
	repositoryVersionAdded *string
	repositoryVersionRemoved *string
	section *string
	sha256 *string
	source *string
	tag *string
	version *string
	fields *string
	excludeFields *string
}

func (r ApiContentDebInstallerPackagesListRequest) Architecture(architecture string) ApiContentDebInstallerPackagesListRequest {
	r.architecture = &architecture
	return r
}
func (r ApiContentDebInstallerPackagesListRequest) AutoBuiltPackage(autoBuiltPackage string) ApiContentDebInstallerPackagesListRequest {
	r.autoBuiltPackage = &autoBuiltPackage
	return r
}
func (r ApiContentDebInstallerPackagesListRequest) BuildEssential(buildEssential bool) ApiContentDebInstallerPackagesListRequest {
	r.buildEssential = &buildEssential
	return r
}
func (r ApiContentDebInstallerPackagesListRequest) BuiltUsing(builtUsing string) ApiContentDebInstallerPackagesListRequest {
	r.builtUsing = &builtUsing
	return r
}
func (r ApiContentDebInstallerPackagesListRequest) Essential(essential bool) ApiContentDebInstallerPackagesListRequest {
	r.essential = &essential
	return r
}
func (r ApiContentDebInstallerPackagesListRequest) InstalledSize(installedSize int32) ApiContentDebInstallerPackagesListRequest {
	r.installedSize = &installedSize
	return r
}
func (r ApiContentDebInstallerPackagesListRequest) Limit(limit int32) ApiContentDebInstallerPackagesListRequest {
	r.limit = &limit
	return r
}
func (r ApiContentDebInstallerPackagesListRequest) Maintainer(maintainer string) ApiContentDebInstallerPackagesListRequest {
	r.maintainer = &maintainer
	return r
}
func (r ApiContentDebInstallerPackagesListRequest) MultiArch(multiArch string) ApiContentDebInstallerPackagesListRequest {
	r.multiArch = &multiArch
	return r
}
func (r ApiContentDebInstallerPackagesListRequest) Offset(offset int32) ApiContentDebInstallerPackagesListRequest {
	r.offset = &offset
	return r
}
func (r ApiContentDebInstallerPackagesListRequest) Ordering(ordering []string) ApiContentDebInstallerPackagesListRequest {
	r.ordering = &ordering
	return r
}
func (r ApiContentDebInstallerPackagesListRequest) Origin(origin string) ApiContentDebInstallerPackagesListRequest {
	r.origin = &origin
	return r
}
func (r ApiContentDebInstallerPackagesListRequest) OriginalMaintainer(originalMaintainer string) ApiContentDebInstallerPackagesListRequest {
	r.originalMaintainer = &originalMaintainer
	return r
}
func (r ApiContentDebInstallerPackagesListRequest) Package_(package_ string) ApiContentDebInstallerPackagesListRequest {
	r.package_ = &package_
	return r
}
func (r ApiContentDebInstallerPackagesListRequest) Priority(priority string) ApiContentDebInstallerPackagesListRequest {
	r.priority = &priority
	return r
}
func (r ApiContentDebInstallerPackagesListRequest) RepositoryVersion(repositoryVersion string) ApiContentDebInstallerPackagesListRequest {
	r.repositoryVersion = &repositoryVersion
	return r
}
func (r ApiContentDebInstallerPackagesListRequest) RepositoryVersionAdded(repositoryVersionAdded string) ApiContentDebInstallerPackagesListRequest {
	r.repositoryVersionAdded = &repositoryVersionAdded
	return r
}
func (r ApiContentDebInstallerPackagesListRequest) RepositoryVersionRemoved(repositoryVersionRemoved string) ApiContentDebInstallerPackagesListRequest {
	r.repositoryVersionRemoved = &repositoryVersionRemoved
	return r
}
func (r ApiContentDebInstallerPackagesListRequest) Section(section string) ApiContentDebInstallerPackagesListRequest {
	r.section = &section
	return r
}
func (r ApiContentDebInstallerPackagesListRequest) Sha256(sha256 string) ApiContentDebInstallerPackagesListRequest {
	r.sha256 = &sha256
	return r
}
func (r ApiContentDebInstallerPackagesListRequest) Source(source string) ApiContentDebInstallerPackagesListRequest {
	r.source = &source
	return r
}
func (r ApiContentDebInstallerPackagesListRequest) Tag(tag string) ApiContentDebInstallerPackagesListRequest {
	r.tag = &tag
	return r
}
func (r ApiContentDebInstallerPackagesListRequest) Version(version string) ApiContentDebInstallerPackagesListRequest {
	r.version = &version
	return r
}
func (r ApiContentDebInstallerPackagesListRequest) Fields(fields string) ApiContentDebInstallerPackagesListRequest {
	r.fields = &fields
	return r
}
func (r ApiContentDebInstallerPackagesListRequest) ExcludeFields(excludeFields string) ApiContentDebInstallerPackagesListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ApiContentDebInstallerPackagesListRequest) Execute() (PaginateddebBasePackageResponseList, *_nethttp.Response, error) {
	return r.ApiService.ContentDebInstallerPackagesListExecute(r)
}

/*
 * ContentDebInstallerPackagesList List installer packages
 * An InstallerPackage represents a '.udeb' installer package.

Associated artifacts: Exactly one '.udeb' installer package file.

Note that installer packages are currently used exclusively for verbatim publications. The APT
publisher (both simple and structured mode) will not include these packages.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiContentDebInstallerPackagesListRequest
 */
func (a *ContentInstallerPackagesApiService) ContentDebInstallerPackagesList(ctx _context.Context) ApiContentDebInstallerPackagesListRequest {
	return ApiContentDebInstallerPackagesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

/*
 * Execute executes the request
 * @return PaginateddebBasePackageResponseList
 */
func (a *ContentInstallerPackagesApiService) ContentDebInstallerPackagesListExecute(r ApiContentDebInstallerPackagesListRequest) (PaginateddebBasePackageResponseList, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  PaginateddebBasePackageResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentInstallerPackagesApiService.ContentDebInstallerPackagesList")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/content/deb/installer_packages/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.architecture != nil {
		localVarQueryParams.Add("architecture", parameterToString(*r.architecture, ""))
	}
	if r.autoBuiltPackage != nil {
		localVarQueryParams.Add("auto_built_package", parameterToString(*r.autoBuiltPackage, ""))
	}
	if r.buildEssential != nil {
		localVarQueryParams.Add("build_essential", parameterToString(*r.buildEssential, ""))
	}
	if r.builtUsing != nil {
		localVarQueryParams.Add("built_using", parameterToString(*r.builtUsing, ""))
	}
	if r.essential != nil {
		localVarQueryParams.Add("essential", parameterToString(*r.essential, ""))
	}
	if r.installedSize != nil {
		localVarQueryParams.Add("installed_size", parameterToString(*r.installedSize, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.maintainer != nil {
		localVarQueryParams.Add("maintainer", parameterToString(*r.maintainer, ""))
	}
	if r.multiArch != nil {
		localVarQueryParams.Add("multi_arch", parameterToString(*r.multiArch, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	if r.ordering != nil {
		localVarQueryParams.Add("ordering", parameterToString(*r.ordering, "csv"))
	}
	if r.origin != nil {
		localVarQueryParams.Add("origin", parameterToString(*r.origin, ""))
	}
	if r.originalMaintainer != nil {
		localVarQueryParams.Add("original_maintainer", parameterToString(*r.originalMaintainer, ""))
	}
	if r.package_ != nil {
		localVarQueryParams.Add("package", parameterToString(*r.package_, ""))
	}
	if r.priority != nil {
		localVarQueryParams.Add("priority", parameterToString(*r.priority, ""))
	}
	if r.repositoryVersion != nil {
		localVarQueryParams.Add("repository_version", parameterToString(*r.repositoryVersion, ""))
	}
	if r.repositoryVersionAdded != nil {
		localVarQueryParams.Add("repository_version_added", parameterToString(*r.repositoryVersionAdded, ""))
	}
	if r.repositoryVersionRemoved != nil {
		localVarQueryParams.Add("repository_version_removed", parameterToString(*r.repositoryVersionRemoved, ""))
	}
	if r.section != nil {
		localVarQueryParams.Add("section", parameterToString(*r.section, ""))
	}
	if r.sha256 != nil {
		localVarQueryParams.Add("sha256", parameterToString(*r.sha256, ""))
	}
	if r.source != nil {
		localVarQueryParams.Add("source", parameterToString(*r.source, ""))
	}
	if r.tag != nil {
		localVarQueryParams.Add("tag", parameterToString(*r.tag, ""))
	}
	if r.version != nil {
		localVarQueryParams.Add("version", parameterToString(*r.version, ""))
	}
	if r.fields != nil {
		localVarQueryParams.Add("fields", parameterToString(*r.fields, ""))
	}
	if r.excludeFields != nil {
		localVarQueryParams.Add("exclude_fields", parameterToString(*r.excludeFields, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiContentDebInstallerPackagesReadRequest struct {
	ctx _context.Context
	ApiService *ContentInstallerPackagesApiService
	pulpId string
	fields *string
	excludeFields *string
}

func (r ApiContentDebInstallerPackagesReadRequest) Fields(fields string) ApiContentDebInstallerPackagesReadRequest {
	r.fields = &fields
	return r
}
func (r ApiContentDebInstallerPackagesReadRequest) ExcludeFields(excludeFields string) ApiContentDebInstallerPackagesReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ApiContentDebInstallerPackagesReadRequest) Execute() (DebBasePackageResponse, *_nethttp.Response, error) {
	return r.ApiService.ContentDebInstallerPackagesReadExecute(r)
}

/*
 * ContentDebInstallerPackagesRead Inspect an installer package
 * An InstallerPackage represents a '.udeb' installer package.

Associated artifacts: Exactly one '.udeb' installer package file.

Note that installer packages are currently used exclusively for verbatim publications. The APT
publisher (both simple and structured mode) will not include these packages.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param pulpId A UUID string identifying this installer package.
 * @return ApiContentDebInstallerPackagesReadRequest
 */
func (a *ContentInstallerPackagesApiService) ContentDebInstallerPackagesRead(ctx _context.Context, pulpId string) ApiContentDebInstallerPackagesReadRequest {
	return ApiContentDebInstallerPackagesReadRequest{
		ApiService: a,
		ctx: ctx,
		pulpId: pulpId,
	}
}

/*
 * Execute executes the request
 * @return DebBasePackageResponse
 */
func (a *ContentInstallerPackagesApiService) ContentDebInstallerPackagesReadExecute(r ApiContentDebInstallerPackagesReadRequest) (DebBasePackageResponse, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  DebBasePackageResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentInstallerPackagesApiService.ContentDebInstallerPackagesRead")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/content/deb/installer_packages/{pulp_id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_id"+"}", _neturl.PathEscape(parameterToString(r.pulpId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.fields != nil {
		localVarQueryParams.Add("fields", parameterToString(*r.fields, ""))
	}
	if r.excludeFields != nil {
		localVarQueryParams.Add("exclude_fields", parameterToString(*r.excludeFields, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
