/*
 * Pulp 3 API
 *
 * Fetch, Upload, Organize, and Distribute Software Packages
 *
 * API version: v3
 * Contact: pulp-list@redhat.com
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// ContentInstallerFileIndicesApiService ContentInstallerFileIndicesApi service
type ContentInstallerFileIndicesApiService service

type ApiContentDebInstallerFileIndicesCreateRequest struct {
	ctx _context.Context
	ApiService *ContentInstallerFileIndicesApiService
	debInstallerFileIndex *DebInstallerFileIndex
}

func (r ApiContentDebInstallerFileIndicesCreateRequest) DebInstallerFileIndex(debInstallerFileIndex DebInstallerFileIndex) ApiContentDebInstallerFileIndicesCreateRequest {
	r.debInstallerFileIndex = &debInstallerFileIndex
	return r
}

func (r ApiContentDebInstallerFileIndicesCreateRequest) Execute() (DebInstallerFileIndexResponse, *_nethttp.Response, error) {
	return r.ApiService.ContentDebInstallerFileIndicesCreateExecute(r)
}

/*
 * ContentDebInstallerFileIndicesCreate Create an installer file index
 * An InstallerFileIndex represents the indices for a set of installer files.

Associated artifacts: Exactly one 'SHA256SUMS' and/or 'MD5SUMS' file.

Each InstallerFileIndes is associated with a single component-architecture combination within
a single Release. Note that installer files are currently used exclusively for verbatim
publications. The APT publisher (both simple and structured mode) does not make use of installer
content.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiContentDebInstallerFileIndicesCreateRequest
 */
func (a *ContentInstallerFileIndicesApiService) ContentDebInstallerFileIndicesCreate(ctx _context.Context) ApiContentDebInstallerFileIndicesCreateRequest {
	return ApiContentDebInstallerFileIndicesCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

/*
 * Execute executes the request
 * @return DebInstallerFileIndexResponse
 */
func (a *ContentInstallerFileIndicesApiService) ContentDebInstallerFileIndicesCreateExecute(r ApiContentDebInstallerFileIndicesCreateRequest) (DebInstallerFileIndexResponse, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  DebInstallerFileIndexResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentInstallerFileIndicesApiService.ContentDebInstallerFileIndicesCreate")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/content/deb/installer_file_indices/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.debInstallerFileIndex == nil {
		return localVarReturnValue, nil, reportError("debInstallerFileIndex is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.debInstallerFileIndex
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiContentDebInstallerFileIndicesListRequest struct {
	ctx _context.Context
	ApiService *ContentInstallerFileIndicesApiService
	architecture *string
	component *string
	limit *int32
	offset *int32
	ordering *[]string
	relativePath *string
	repositoryVersion *string
	repositoryVersionAdded *string
	repositoryVersionRemoved *string
	sha256 *string
	fields *string
	excludeFields *string
}

func (r ApiContentDebInstallerFileIndicesListRequest) Architecture(architecture string) ApiContentDebInstallerFileIndicesListRequest {
	r.architecture = &architecture
	return r
}
func (r ApiContentDebInstallerFileIndicesListRequest) Component(component string) ApiContentDebInstallerFileIndicesListRequest {
	r.component = &component
	return r
}
func (r ApiContentDebInstallerFileIndicesListRequest) Limit(limit int32) ApiContentDebInstallerFileIndicesListRequest {
	r.limit = &limit
	return r
}
func (r ApiContentDebInstallerFileIndicesListRequest) Offset(offset int32) ApiContentDebInstallerFileIndicesListRequest {
	r.offset = &offset
	return r
}
func (r ApiContentDebInstallerFileIndicesListRequest) Ordering(ordering []string) ApiContentDebInstallerFileIndicesListRequest {
	r.ordering = &ordering
	return r
}
func (r ApiContentDebInstallerFileIndicesListRequest) RelativePath(relativePath string) ApiContentDebInstallerFileIndicesListRequest {
	r.relativePath = &relativePath
	return r
}
func (r ApiContentDebInstallerFileIndicesListRequest) RepositoryVersion(repositoryVersion string) ApiContentDebInstallerFileIndicesListRequest {
	r.repositoryVersion = &repositoryVersion
	return r
}
func (r ApiContentDebInstallerFileIndicesListRequest) RepositoryVersionAdded(repositoryVersionAdded string) ApiContentDebInstallerFileIndicesListRequest {
	r.repositoryVersionAdded = &repositoryVersionAdded
	return r
}
func (r ApiContentDebInstallerFileIndicesListRequest) RepositoryVersionRemoved(repositoryVersionRemoved string) ApiContentDebInstallerFileIndicesListRequest {
	r.repositoryVersionRemoved = &repositoryVersionRemoved
	return r
}
func (r ApiContentDebInstallerFileIndicesListRequest) Sha256(sha256 string) ApiContentDebInstallerFileIndicesListRequest {
	r.sha256 = &sha256
	return r
}
func (r ApiContentDebInstallerFileIndicesListRequest) Fields(fields string) ApiContentDebInstallerFileIndicesListRequest {
	r.fields = &fields
	return r
}
func (r ApiContentDebInstallerFileIndicesListRequest) ExcludeFields(excludeFields string) ApiContentDebInstallerFileIndicesListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ApiContentDebInstallerFileIndicesListRequest) Execute() (PaginateddebInstallerFileIndexResponseList, *_nethttp.Response, error) {
	return r.ApiService.ContentDebInstallerFileIndicesListExecute(r)
}

/*
 * ContentDebInstallerFileIndicesList List InstallerFileIndices
 * An InstallerFileIndex represents the indices for a set of installer files.

Associated artifacts: Exactly one 'SHA256SUMS' and/or 'MD5SUMS' file.

Each InstallerFileIndes is associated with a single component-architecture combination within
a single Release. Note that installer files are currently used exclusively for verbatim
publications. The APT publisher (both simple and structured mode) does not make use of installer
content.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiContentDebInstallerFileIndicesListRequest
 */
func (a *ContentInstallerFileIndicesApiService) ContentDebInstallerFileIndicesList(ctx _context.Context) ApiContentDebInstallerFileIndicesListRequest {
	return ApiContentDebInstallerFileIndicesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

/*
 * Execute executes the request
 * @return PaginateddebInstallerFileIndexResponseList
 */
func (a *ContentInstallerFileIndicesApiService) ContentDebInstallerFileIndicesListExecute(r ApiContentDebInstallerFileIndicesListRequest) (PaginateddebInstallerFileIndexResponseList, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  PaginateddebInstallerFileIndexResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentInstallerFileIndicesApiService.ContentDebInstallerFileIndicesList")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/content/deb/installer_file_indices/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.architecture != nil {
		localVarQueryParams.Add("architecture", parameterToString(*r.architecture, ""))
	}
	if r.component != nil {
		localVarQueryParams.Add("component", parameterToString(*r.component, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	if r.ordering != nil {
		localVarQueryParams.Add("ordering", parameterToString(*r.ordering, "csv"))
	}
	if r.relativePath != nil {
		localVarQueryParams.Add("relative_path", parameterToString(*r.relativePath, ""))
	}
	if r.repositoryVersion != nil {
		localVarQueryParams.Add("repository_version", parameterToString(*r.repositoryVersion, ""))
	}
	if r.repositoryVersionAdded != nil {
		localVarQueryParams.Add("repository_version_added", parameterToString(*r.repositoryVersionAdded, ""))
	}
	if r.repositoryVersionRemoved != nil {
		localVarQueryParams.Add("repository_version_removed", parameterToString(*r.repositoryVersionRemoved, ""))
	}
	if r.sha256 != nil {
		localVarQueryParams.Add("sha256", parameterToString(*r.sha256, ""))
	}
	if r.fields != nil {
		localVarQueryParams.Add("fields", parameterToString(*r.fields, ""))
	}
	if r.excludeFields != nil {
		localVarQueryParams.Add("exclude_fields", parameterToString(*r.excludeFields, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiContentDebInstallerFileIndicesReadRequest struct {
	ctx _context.Context
	ApiService *ContentInstallerFileIndicesApiService
	pulpId string
	fields *string
	excludeFields *string
}

func (r ApiContentDebInstallerFileIndicesReadRequest) Fields(fields string) ApiContentDebInstallerFileIndicesReadRequest {
	r.fields = &fields
	return r
}
func (r ApiContentDebInstallerFileIndicesReadRequest) ExcludeFields(excludeFields string) ApiContentDebInstallerFileIndicesReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ApiContentDebInstallerFileIndicesReadRequest) Execute() (DebInstallerFileIndexResponse, *_nethttp.Response, error) {
	return r.ApiService.ContentDebInstallerFileIndicesReadExecute(r)
}

/*
 * ContentDebInstallerFileIndicesRead Inspect an installer file index
 * An InstallerFileIndex represents the indices for a set of installer files.

Associated artifacts: Exactly one 'SHA256SUMS' and/or 'MD5SUMS' file.

Each InstallerFileIndes is associated with a single component-architecture combination within
a single Release. Note that installer files are currently used exclusively for verbatim
publications. The APT publisher (both simple and structured mode) does not make use of installer
content.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param pulpId A UUID string identifying this installer file index.
 * @return ApiContentDebInstallerFileIndicesReadRequest
 */
func (a *ContentInstallerFileIndicesApiService) ContentDebInstallerFileIndicesRead(ctx _context.Context, pulpId string) ApiContentDebInstallerFileIndicesReadRequest {
	return ApiContentDebInstallerFileIndicesReadRequest{
		ApiService: a,
		ctx: ctx,
		pulpId: pulpId,
	}
}

/*
 * Execute executes the request
 * @return DebInstallerFileIndexResponse
 */
func (a *ContentInstallerFileIndicesApiService) ContentDebInstallerFileIndicesReadExecute(r ApiContentDebInstallerFileIndicesReadRequest) (DebInstallerFileIndexResponse, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  DebInstallerFileIndexResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentInstallerFileIndicesApiService.ContentDebInstallerFileIndicesRead")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/content/deb/installer_file_indices/{pulp_id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_id"+"}", _neturl.PathEscape(parameterToString(r.pulpId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.fields != nil {
		localVarQueryParams.Add("fields", parameterToString(*r.fields, ""))
	}
	if r.excludeFields != nil {
		localVarQueryParams.Add("exclude_fields", parameterToString(*r.excludeFields, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
