/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
	"os"
)


// ContentInstallerPackagesApiService ContentInstallerPackagesApi service
type ContentInstallerPackagesApiService service

type ApiContentDebInstallerPackagesCreateRequest struct {
	ctx context.Context
	ApiService *ContentInstallerPackagesApiService
	artifact *string
	relativePath *string
	file **os.File
	repository *string
	upload *string
}

// Artifact file representing the physical content
func (r ApiContentDebInstallerPackagesCreateRequest) Artifact(artifact string) ApiContentDebInstallerPackagesCreateRequest {
	r.artifact = &artifact
	return r
}

// Path where the artifact is located relative to distributions base_path
func (r ApiContentDebInstallerPackagesCreateRequest) RelativePath(relativePath string) ApiContentDebInstallerPackagesCreateRequest {
	r.relativePath = &relativePath
	return r
}

// An uploaded file that may be turned into the artifact of the content unit.
func (r ApiContentDebInstallerPackagesCreateRequest) File(file *os.File) ApiContentDebInstallerPackagesCreateRequest {
	r.file = &file
	return r
}

// A URI of a repository the new content unit should be associated with.
func (r ApiContentDebInstallerPackagesCreateRequest) Repository(repository string) ApiContentDebInstallerPackagesCreateRequest {
	r.repository = &repository
	return r
}

// An uncommitted upload that may be turned into the artifact of the content unit.
func (r ApiContentDebInstallerPackagesCreateRequest) Upload(upload string) ApiContentDebInstallerPackagesCreateRequest {
	r.upload = &upload
	return r
}

func (r ApiContentDebInstallerPackagesCreateRequest) Execute() (*AsyncOperationResponse, *http.Response, error) {
	return r.ApiService.ContentDebInstallerPackagesCreateExecute(r)
}

/*
ContentDebInstallerPackagesCreate Create an installer package

Trigger an asynchronous task to create content,optionally create new repository version.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiContentDebInstallerPackagesCreateRequest
*/
func (a *ContentInstallerPackagesApiService) ContentDebInstallerPackagesCreate(ctx context.Context) ApiContentDebInstallerPackagesCreateRequest {
	return ApiContentDebInstallerPackagesCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AsyncOperationResponse
func (a *ContentInstallerPackagesApiService) ContentDebInstallerPackagesCreateExecute(r ApiContentDebInstallerPackagesCreateRequest) (*AsyncOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AsyncOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentInstallerPackagesApiService.ContentDebInstallerPackagesCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/content/deb/installer_packages/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data", "application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.artifact != nil {
		localVarFormParams.Add("artifact", parameterToString(*r.artifact, ""))
	}
	if r.relativePath != nil {
		localVarFormParams.Add("relative_path", parameterToString(*r.relativePath, ""))
	}
	var fileLocalVarFormFileName string
	var fileLocalVarFileName     string
	var fileLocalVarFileBytes    []byte

	fileLocalVarFormFileName = "file"

	var fileLocalVarFile *os.File
	if r.file != nil {
		fileLocalVarFile = *r.file
	}
	if fileLocalVarFile != nil {
		fbs, _ := ioutil.ReadAll(fileLocalVarFile)
		fileLocalVarFileBytes = fbs
		fileLocalVarFileName = fileLocalVarFile.Name()
		fileLocalVarFile.Close()
	}
	formFiles = append(formFiles, formFile{fileBytes: fileLocalVarFileBytes, fileName: fileLocalVarFileName, formFileName: fileLocalVarFormFileName})
	if r.repository != nil {
		localVarFormParams.Add("repository", parameterToString(*r.repository, ""))
	}
	if r.upload != nil {
		localVarFormParams.Add("upload", parameterToString(*r.upload, ""))
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiContentDebInstallerPackagesListRequest struct {
	ctx context.Context
	ApiService *ContentInstallerPackagesApiService
	architecture *string
	autoBuiltPackage *string
	buildEssential *bool
	builtUsing *string
	essential *bool
	installedSize *int32
	limit *int32
	maintainer *string
	multiArch *string
	offset *int32
	ordering *[]string
	origin *string
	originalMaintainer *string
	package_ *string
	priority *string
	repositoryVersion *string
	repositoryVersionAdded *string
	repositoryVersionRemoved *string
	section *string
	sha256 *string
	source *string
	tag *string
	version *string
	fields *string
	excludeFields *string
}

// Filter results where architecture matches value
func (r ApiContentDebInstallerPackagesListRequest) Architecture(architecture string) ApiContentDebInstallerPackagesListRequest {
	r.architecture = &architecture
	return r
}

// Filter results where auto_built_package matches value
func (r ApiContentDebInstallerPackagesListRequest) AutoBuiltPackage(autoBuiltPackage string) ApiContentDebInstallerPackagesListRequest {
	r.autoBuiltPackage = &autoBuiltPackage
	return r
}

// Filter results where build_essential matches value
func (r ApiContentDebInstallerPackagesListRequest) BuildEssential(buildEssential bool) ApiContentDebInstallerPackagesListRequest {
	r.buildEssential = &buildEssential
	return r
}

// Filter results where built_using matches value
func (r ApiContentDebInstallerPackagesListRequest) BuiltUsing(builtUsing string) ApiContentDebInstallerPackagesListRequest {
	r.builtUsing = &builtUsing
	return r
}

// Filter results where essential matches value
func (r ApiContentDebInstallerPackagesListRequest) Essential(essential bool) ApiContentDebInstallerPackagesListRequest {
	r.essential = &essential
	return r
}

// Filter results where installed_size matches value
func (r ApiContentDebInstallerPackagesListRequest) InstalledSize(installedSize int32) ApiContentDebInstallerPackagesListRequest {
	r.installedSize = &installedSize
	return r
}

// Number of results to return per page.
func (r ApiContentDebInstallerPackagesListRequest) Limit(limit int32) ApiContentDebInstallerPackagesListRequest {
	r.limit = &limit
	return r
}

// Filter results where maintainer matches value
func (r ApiContentDebInstallerPackagesListRequest) Maintainer(maintainer string) ApiContentDebInstallerPackagesListRequest {
	r.maintainer = &maintainer
	return r
}

// Filter results where multi_arch matches value
func (r ApiContentDebInstallerPackagesListRequest) MultiArch(multiArch string) ApiContentDebInstallerPackagesListRequest {
	r.multiArch = &multiArch
	return r
}

// The initial index from which to return the results.
func (r ApiContentDebInstallerPackagesListRequest) Offset(offset int32) ApiContentDebInstallerPackagesListRequest {
	r.offset = &offset
	return r
}

// Ordering
func (r ApiContentDebInstallerPackagesListRequest) Ordering(ordering []string) ApiContentDebInstallerPackagesListRequest {
	r.ordering = &ordering
	return r
}

// Filter results where origin matches value
func (r ApiContentDebInstallerPackagesListRequest) Origin(origin string) ApiContentDebInstallerPackagesListRequest {
	r.origin = &origin
	return r
}

// Filter results where original_maintainer matches value
func (r ApiContentDebInstallerPackagesListRequest) OriginalMaintainer(originalMaintainer string) ApiContentDebInstallerPackagesListRequest {
	r.originalMaintainer = &originalMaintainer
	return r
}

// Filter results where package matches value
func (r ApiContentDebInstallerPackagesListRequest) Package_(package_ string) ApiContentDebInstallerPackagesListRequest {
	r.package_ = &package_
	return r
}

// Filter results where priority matches value
func (r ApiContentDebInstallerPackagesListRequest) Priority(priority string) ApiContentDebInstallerPackagesListRequest {
	r.priority = &priority
	return r
}

// Repository Version referenced by HREF
func (r ApiContentDebInstallerPackagesListRequest) RepositoryVersion(repositoryVersion string) ApiContentDebInstallerPackagesListRequest {
	r.repositoryVersion = &repositoryVersion
	return r
}

// Repository Version referenced by HREF
func (r ApiContentDebInstallerPackagesListRequest) RepositoryVersionAdded(repositoryVersionAdded string) ApiContentDebInstallerPackagesListRequest {
	r.repositoryVersionAdded = &repositoryVersionAdded
	return r
}

// Repository Version referenced by HREF
func (r ApiContentDebInstallerPackagesListRequest) RepositoryVersionRemoved(repositoryVersionRemoved string) ApiContentDebInstallerPackagesListRequest {
	r.repositoryVersionRemoved = &repositoryVersionRemoved
	return r
}

// Filter results where section matches value
func (r ApiContentDebInstallerPackagesListRequest) Section(section string) ApiContentDebInstallerPackagesListRequest {
	r.section = &section
	return r
}

// Filter results where sha256 matches value
func (r ApiContentDebInstallerPackagesListRequest) Sha256(sha256 string) ApiContentDebInstallerPackagesListRequest {
	r.sha256 = &sha256
	return r
}

// Filter results where source matches value
func (r ApiContentDebInstallerPackagesListRequest) Source(source string) ApiContentDebInstallerPackagesListRequest {
	r.source = &source
	return r
}

// Filter results where tag matches value
func (r ApiContentDebInstallerPackagesListRequest) Tag(tag string) ApiContentDebInstallerPackagesListRequest {
	r.tag = &tag
	return r
}

// Filter results where version matches value
func (r ApiContentDebInstallerPackagesListRequest) Version(version string) ApiContentDebInstallerPackagesListRequest {
	r.version = &version
	return r
}

// A list of fields to include in the response.
func (r ApiContentDebInstallerPackagesListRequest) Fields(fields string) ApiContentDebInstallerPackagesListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ApiContentDebInstallerPackagesListRequest) ExcludeFields(excludeFields string) ApiContentDebInstallerPackagesListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ApiContentDebInstallerPackagesListRequest) Execute() (*PaginateddebBasePackageResponseList, *http.Response, error) {
	return r.ApiService.ContentDebInstallerPackagesListExecute(r)
}

/*
ContentDebInstallerPackagesList List installer packages

An InstallerPackage represents a '.udeb' installer package.

Associated artifacts: Exactly one '.udeb' installer package file.

Note that installer packages are currently used exclusively for verbatim publications. The APT
publisher (both simple and structured mode) will not include these packages.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiContentDebInstallerPackagesListRequest
*/
func (a *ContentInstallerPackagesApiService) ContentDebInstallerPackagesList(ctx context.Context) ApiContentDebInstallerPackagesListRequest {
	return ApiContentDebInstallerPackagesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginateddebBasePackageResponseList
func (a *ContentInstallerPackagesApiService) ContentDebInstallerPackagesListExecute(r ApiContentDebInstallerPackagesListRequest) (*PaginateddebBasePackageResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginateddebBasePackageResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentInstallerPackagesApiService.ContentDebInstallerPackagesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/content/deb/installer_packages/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.architecture != nil {
		localVarQueryParams.Add("architecture", parameterToString(*r.architecture, ""))
	}
	if r.autoBuiltPackage != nil {
		localVarQueryParams.Add("auto_built_package", parameterToString(*r.autoBuiltPackage, ""))
	}
	if r.buildEssential != nil {
		localVarQueryParams.Add("build_essential", parameterToString(*r.buildEssential, ""))
	}
	if r.builtUsing != nil {
		localVarQueryParams.Add("built_using", parameterToString(*r.builtUsing, ""))
	}
	if r.essential != nil {
		localVarQueryParams.Add("essential", parameterToString(*r.essential, ""))
	}
	if r.installedSize != nil {
		localVarQueryParams.Add("installed_size", parameterToString(*r.installedSize, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.maintainer != nil {
		localVarQueryParams.Add("maintainer", parameterToString(*r.maintainer, ""))
	}
	if r.multiArch != nil {
		localVarQueryParams.Add("multi_arch", parameterToString(*r.multiArch, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	if r.ordering != nil {
		localVarQueryParams.Add("ordering", parameterToString(*r.ordering, "csv"))
	}
	if r.origin != nil {
		localVarQueryParams.Add("origin", parameterToString(*r.origin, ""))
	}
	if r.originalMaintainer != nil {
		localVarQueryParams.Add("original_maintainer", parameterToString(*r.originalMaintainer, ""))
	}
	if r.package_ != nil {
		localVarQueryParams.Add("package", parameterToString(*r.package_, ""))
	}
	if r.priority != nil {
		localVarQueryParams.Add("priority", parameterToString(*r.priority, ""))
	}
	if r.repositoryVersion != nil {
		localVarQueryParams.Add("repository_version", parameterToString(*r.repositoryVersion, ""))
	}
	if r.repositoryVersionAdded != nil {
		localVarQueryParams.Add("repository_version_added", parameterToString(*r.repositoryVersionAdded, ""))
	}
	if r.repositoryVersionRemoved != nil {
		localVarQueryParams.Add("repository_version_removed", parameterToString(*r.repositoryVersionRemoved, ""))
	}
	if r.section != nil {
		localVarQueryParams.Add("section", parameterToString(*r.section, ""))
	}
	if r.sha256 != nil {
		localVarQueryParams.Add("sha256", parameterToString(*r.sha256, ""))
	}
	if r.source != nil {
		localVarQueryParams.Add("source", parameterToString(*r.source, ""))
	}
	if r.tag != nil {
		localVarQueryParams.Add("tag", parameterToString(*r.tag, ""))
	}
	if r.version != nil {
		localVarQueryParams.Add("version", parameterToString(*r.version, ""))
	}
	if r.fields != nil {
		localVarQueryParams.Add("fields", parameterToString(*r.fields, ""))
	}
	if r.excludeFields != nil {
		localVarQueryParams.Add("exclude_fields", parameterToString(*r.excludeFields, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiContentDebInstallerPackagesReadRequest struct {
	ctx context.Context
	ApiService *ContentInstallerPackagesApiService
	pulpId string
	fields *string
	excludeFields *string
}

// A list of fields to include in the response.
func (r ApiContentDebInstallerPackagesReadRequest) Fields(fields string) ApiContentDebInstallerPackagesReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ApiContentDebInstallerPackagesReadRequest) ExcludeFields(excludeFields string) ApiContentDebInstallerPackagesReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ApiContentDebInstallerPackagesReadRequest) Execute() (*DebBasePackageResponse, *http.Response, error) {
	return r.ApiService.ContentDebInstallerPackagesReadExecute(r)
}

/*
ContentDebInstallerPackagesRead Inspect an installer package

An InstallerPackage represents a '.udeb' installer package.

Associated artifacts: Exactly one '.udeb' installer package file.

Note that installer packages are currently used exclusively for verbatim publications. The APT
publisher (both simple and structured mode) will not include these packages.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpId A UUID string identifying this installer package.
 @return ApiContentDebInstallerPackagesReadRequest
*/
func (a *ContentInstallerPackagesApiService) ContentDebInstallerPackagesRead(ctx context.Context, pulpId string) ApiContentDebInstallerPackagesReadRequest {
	return ApiContentDebInstallerPackagesReadRequest{
		ApiService: a,
		ctx: ctx,
		pulpId: pulpId,
	}
}

// Execute executes the request
//  @return DebBasePackageResponse
func (a *ContentInstallerPackagesApiService) ContentDebInstallerPackagesReadExecute(r ApiContentDebInstallerPackagesReadRequest) (*DebBasePackageResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DebBasePackageResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentInstallerPackagesApiService.ContentDebInstallerPackagesRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/content/deb/installer_packages/{pulp_id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_id"+"}", url.PathEscape(parameterToString(r.pulpId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		localVarQueryParams.Add("fields", parameterToString(*r.fields, ""))
	}
	if r.excludeFields != nil {
		localVarQueryParams.Add("exclude_fields", parameterToString(*r.excludeFields, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
