/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)


// ContentReleaseArchitecturesApiService ContentReleaseArchitecturesApi service
type ContentReleaseArchitecturesApiService service

type ApiContentDebReleaseArchitecturesCreateRequest struct {
	ctx context.Context
	ApiService *ContentReleaseArchitecturesApiService
	debReleaseArchitecture *DebReleaseArchitecture
}

func (r ApiContentDebReleaseArchitecturesCreateRequest) DebReleaseArchitecture(debReleaseArchitecture DebReleaseArchitecture) ApiContentDebReleaseArchitecturesCreateRequest {
	r.debReleaseArchitecture = &debReleaseArchitecture
	return r
}

func (r ApiContentDebReleaseArchitecturesCreateRequest) Execute() (*DebReleaseArchitectureResponse, *http.Response, error) {
	return r.ApiService.ContentDebReleaseArchitecturesCreateExecute(r)
}

/*
ContentDebReleaseArchitecturesCreate Create a release architecture

A ReleaseArchitecture represents a single dpkg architecture string.

Associated artifacts: None; contains only metadata.

Every ReleaseArchitecture is always associated with exactly one Release. This indicates that
the release/distribution in question supports this architecture.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiContentDebReleaseArchitecturesCreateRequest
*/
func (a *ContentReleaseArchitecturesApiService) ContentDebReleaseArchitecturesCreate(ctx context.Context) ApiContentDebReleaseArchitecturesCreateRequest {
	return ApiContentDebReleaseArchitecturesCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DebReleaseArchitectureResponse
func (a *ContentReleaseArchitecturesApiService) ContentDebReleaseArchitecturesCreateExecute(r ApiContentDebReleaseArchitecturesCreateRequest) (*DebReleaseArchitectureResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DebReleaseArchitectureResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentReleaseArchitecturesApiService.ContentDebReleaseArchitecturesCreate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/content/deb/release_architectures/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.debReleaseArchitecture == nil {
		return localVarReturnValue, nil, reportError("debReleaseArchitecture is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.debReleaseArchitecture
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiContentDebReleaseArchitecturesListRequest struct {
	ctx context.Context
	ApiService *ContentReleaseArchitecturesApiService
	architecture *string
	limit *int32
	offset *int32
	ordering *[]string
	release *string
	repositoryVersion *string
	repositoryVersionAdded *string
	repositoryVersionRemoved *string
	fields *string
	excludeFields *string
}

// Filter results where architecture matches value
func (r ApiContentDebReleaseArchitecturesListRequest) Architecture(architecture string) ApiContentDebReleaseArchitecturesListRequest {
	r.architecture = &architecture
	return r
}

// Number of results to return per page.
func (r ApiContentDebReleaseArchitecturesListRequest) Limit(limit int32) ApiContentDebReleaseArchitecturesListRequest {
	r.limit = &limit
	return r
}

// The initial index from which to return the results.
func (r ApiContentDebReleaseArchitecturesListRequest) Offset(offset int32) ApiContentDebReleaseArchitecturesListRequest {
	r.offset = &offset
	return r
}

// Ordering
func (r ApiContentDebReleaseArchitecturesListRequest) Ordering(ordering []string) ApiContentDebReleaseArchitecturesListRequest {
	r.ordering = &ordering
	return r
}

// Filter results where release matches value
func (r ApiContentDebReleaseArchitecturesListRequest) Release(release string) ApiContentDebReleaseArchitecturesListRequest {
	r.release = &release
	return r
}

// Repository Version referenced by HREF
func (r ApiContentDebReleaseArchitecturesListRequest) RepositoryVersion(repositoryVersion string) ApiContentDebReleaseArchitecturesListRequest {
	r.repositoryVersion = &repositoryVersion
	return r
}

// Repository Version referenced by HREF
func (r ApiContentDebReleaseArchitecturesListRequest) RepositoryVersionAdded(repositoryVersionAdded string) ApiContentDebReleaseArchitecturesListRequest {
	r.repositoryVersionAdded = &repositoryVersionAdded
	return r
}

// Repository Version referenced by HREF
func (r ApiContentDebReleaseArchitecturesListRequest) RepositoryVersionRemoved(repositoryVersionRemoved string) ApiContentDebReleaseArchitecturesListRequest {
	r.repositoryVersionRemoved = &repositoryVersionRemoved
	return r
}

// A list of fields to include in the response.
func (r ApiContentDebReleaseArchitecturesListRequest) Fields(fields string) ApiContentDebReleaseArchitecturesListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ApiContentDebReleaseArchitecturesListRequest) ExcludeFields(excludeFields string) ApiContentDebReleaseArchitecturesListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ApiContentDebReleaseArchitecturesListRequest) Execute() (*PaginateddebReleaseArchitectureResponseList, *http.Response, error) {
	return r.ApiService.ContentDebReleaseArchitecturesListExecute(r)
}

/*
ContentDebReleaseArchitecturesList List release architectures

A ReleaseArchitecture represents a single dpkg architecture string.

Associated artifacts: None; contains only metadata.

Every ReleaseArchitecture is always associated with exactly one Release. This indicates that
the release/distribution in question supports this architecture.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiContentDebReleaseArchitecturesListRequest
*/
func (a *ContentReleaseArchitecturesApiService) ContentDebReleaseArchitecturesList(ctx context.Context) ApiContentDebReleaseArchitecturesListRequest {
	return ApiContentDebReleaseArchitecturesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginateddebReleaseArchitectureResponseList
func (a *ContentReleaseArchitecturesApiService) ContentDebReleaseArchitecturesListExecute(r ApiContentDebReleaseArchitecturesListRequest) (*PaginateddebReleaseArchitectureResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginateddebReleaseArchitectureResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentReleaseArchitecturesApiService.ContentDebReleaseArchitecturesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/content/deb/release_architectures/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.architecture != nil {
		localVarQueryParams.Add("architecture", parameterToString(*r.architecture, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	if r.ordering != nil {
		localVarQueryParams.Add("ordering", parameterToString(*r.ordering, "csv"))
	}
	if r.release != nil {
		localVarQueryParams.Add("release", parameterToString(*r.release, ""))
	}
	if r.repositoryVersion != nil {
		localVarQueryParams.Add("repository_version", parameterToString(*r.repositoryVersion, ""))
	}
	if r.repositoryVersionAdded != nil {
		localVarQueryParams.Add("repository_version_added", parameterToString(*r.repositoryVersionAdded, ""))
	}
	if r.repositoryVersionRemoved != nil {
		localVarQueryParams.Add("repository_version_removed", parameterToString(*r.repositoryVersionRemoved, ""))
	}
	if r.fields != nil {
		localVarQueryParams.Add("fields", parameterToString(*r.fields, ""))
	}
	if r.excludeFields != nil {
		localVarQueryParams.Add("exclude_fields", parameterToString(*r.excludeFields, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiContentDebReleaseArchitecturesReadRequest struct {
	ctx context.Context
	ApiService *ContentReleaseArchitecturesApiService
	pulpId string
	fields *string
	excludeFields *string
}

// A list of fields to include in the response.
func (r ApiContentDebReleaseArchitecturesReadRequest) Fields(fields string) ApiContentDebReleaseArchitecturesReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ApiContentDebReleaseArchitecturesReadRequest) ExcludeFields(excludeFields string) ApiContentDebReleaseArchitecturesReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ApiContentDebReleaseArchitecturesReadRequest) Execute() (*DebReleaseArchitectureResponse, *http.Response, error) {
	return r.ApiService.ContentDebReleaseArchitecturesReadExecute(r)
}

/*
ContentDebReleaseArchitecturesRead Inspect a release architecture

A ReleaseArchitecture represents a single dpkg architecture string.

Associated artifacts: None; contains only metadata.

Every ReleaseArchitecture is always associated with exactly one Release. This indicates that
the release/distribution in question supports this architecture.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpId A UUID string identifying this release architecture.
 @return ApiContentDebReleaseArchitecturesReadRequest
*/
func (a *ContentReleaseArchitecturesApiService) ContentDebReleaseArchitecturesRead(ctx context.Context, pulpId string) ApiContentDebReleaseArchitecturesReadRequest {
	return ApiContentDebReleaseArchitecturesReadRequest{
		ApiService: a,
		ctx: ctx,
		pulpId: pulpId,
	}
}

// Execute executes the request
//  @return DebReleaseArchitectureResponse
func (a *ContentReleaseArchitecturesApiService) ContentDebReleaseArchitecturesReadExecute(r ApiContentDebReleaseArchitecturesReadRequest) (*DebReleaseArchitectureResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DebReleaseArchitectureResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentReleaseArchitecturesApiService.ContentDebReleaseArchitecturesRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/content/deb/release_architectures/{pulp_id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_id"+"}", url.PathEscape(parameterToString(r.pulpId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		localVarQueryParams.Add("fields", parameterToString(*r.fields, ""))
	}
	if r.excludeFields != nil {
		localVarQueryParams.Add("exclude_fields", parameterToString(*r.excludeFields, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
