/*
Pulp 3 API

Fetch, Upload, Organize, and Distribute Software Packages

API version: v3
Contact: pulp-list@redhat.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)


// ContentSignaturesApiService ContentSignaturesApi service
type ContentSignaturesApiService service

type ApiContentContainerSignaturesListRequest struct {
	ctx context.Context
	ApiService *ContentSignaturesApiService
	digest *string
	digestIn *[]string
	keyId *string
	keyIdIn *[]string
	limit *int32
	manifest *[]string
	name *string
	nameContains *string
	nameIcontains *string
	nameIn *[]string
	nameStartswith *string
	offset *int32
	ordering *[]string
	repositoryVersion *string
	repositoryVersionAdded *string
	repositoryVersionRemoved *string
	fields *string
	excludeFields *string
}

// Filter results where digest matches value
func (r ApiContentContainerSignaturesListRequest) Digest(digest string) ApiContentContainerSignaturesListRequest {
	r.digest = &digest
	return r
}

// Filter results where digest is in a comma-separated list of values
func (r ApiContentContainerSignaturesListRequest) DigestIn(digestIn []string) ApiContentContainerSignaturesListRequest {
	r.digestIn = &digestIn
	return r
}

// Filter results where key_id matches value
func (r ApiContentContainerSignaturesListRequest) KeyId(keyId string) ApiContentContainerSignaturesListRequest {
	r.keyId = &keyId
	return r
}

// Filter results where key_id is in a comma-separated list of values
func (r ApiContentContainerSignaturesListRequest) KeyIdIn(keyIdIn []string) ApiContentContainerSignaturesListRequest {
	r.keyIdIn = &keyIdIn
	return r
}

// Number of results to return per page.
func (r ApiContentContainerSignaturesListRequest) Limit(limit int32) ApiContentContainerSignaturesListRequest {
	r.limit = &limit
	return r
}

// Multiple values may be separated by commas.
func (r ApiContentContainerSignaturesListRequest) Manifest(manifest []string) ApiContentContainerSignaturesListRequest {
	r.manifest = &manifest
	return r
}

// Filter results where name matches value
func (r ApiContentContainerSignaturesListRequest) Name(name string) ApiContentContainerSignaturesListRequest {
	r.name = &name
	return r
}

// Filter results where name contains value
func (r ApiContentContainerSignaturesListRequest) NameContains(nameContains string) ApiContentContainerSignaturesListRequest {
	r.nameContains = &nameContains
	return r
}

// Filter results where name contains value
func (r ApiContentContainerSignaturesListRequest) NameIcontains(nameIcontains string) ApiContentContainerSignaturesListRequest {
	r.nameIcontains = &nameIcontains
	return r
}

// Filter results where name is in a comma-separated list of values
func (r ApiContentContainerSignaturesListRequest) NameIn(nameIn []string) ApiContentContainerSignaturesListRequest {
	r.nameIn = &nameIn
	return r
}

// Filter results where name starts with value
func (r ApiContentContainerSignaturesListRequest) NameStartswith(nameStartswith string) ApiContentContainerSignaturesListRequest {
	r.nameStartswith = &nameStartswith
	return r
}

// The initial index from which to return the results.
func (r ApiContentContainerSignaturesListRequest) Offset(offset int32) ApiContentContainerSignaturesListRequest {
	r.offset = &offset
	return r
}

// Ordering
func (r ApiContentContainerSignaturesListRequest) Ordering(ordering []string) ApiContentContainerSignaturesListRequest {
	r.ordering = &ordering
	return r
}

// Repository Version referenced by HREF
func (r ApiContentContainerSignaturesListRequest) RepositoryVersion(repositoryVersion string) ApiContentContainerSignaturesListRequest {
	r.repositoryVersion = &repositoryVersion
	return r
}

// Repository Version referenced by HREF
func (r ApiContentContainerSignaturesListRequest) RepositoryVersionAdded(repositoryVersionAdded string) ApiContentContainerSignaturesListRequest {
	r.repositoryVersionAdded = &repositoryVersionAdded
	return r
}

// Repository Version referenced by HREF
func (r ApiContentContainerSignaturesListRequest) RepositoryVersionRemoved(repositoryVersionRemoved string) ApiContentContainerSignaturesListRequest {
	r.repositoryVersionRemoved = &repositoryVersionRemoved
	return r
}

// A list of fields to include in the response.
func (r ApiContentContainerSignaturesListRequest) Fields(fields string) ApiContentContainerSignaturesListRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ApiContentContainerSignaturesListRequest) ExcludeFields(excludeFields string) ApiContentContainerSignaturesListRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ApiContentContainerSignaturesListRequest) Execute() (*PaginatedcontainerManifestSignatureResponseList, *http.Response, error) {
	return r.ApiService.ContentContainerSignaturesListExecute(r)
}

/*
ContentContainerSignaturesList List manifest signatures

ViewSet for image signatures.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiContentContainerSignaturesListRequest
*/
func (a *ContentSignaturesApiService) ContentContainerSignaturesList(ctx context.Context) ApiContentContainerSignaturesListRequest {
	return ApiContentContainerSignaturesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedcontainerManifestSignatureResponseList
func (a *ContentSignaturesApiService) ContentContainerSignaturesListExecute(r ApiContentContainerSignaturesListRequest) (*PaginatedcontainerManifestSignatureResponseList, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedcontainerManifestSignatureResponseList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentSignaturesApiService.ContentContainerSignaturesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/content/container/signatures/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.digest != nil {
		localVarQueryParams.Add("digest", parameterToString(*r.digest, ""))
	}
	if r.digestIn != nil {
		localVarQueryParams.Add("digest__in", parameterToString(*r.digestIn, "csv"))
	}
	if r.keyId != nil {
		localVarQueryParams.Add("key_id", parameterToString(*r.keyId, ""))
	}
	if r.keyIdIn != nil {
		localVarQueryParams.Add("key_id__in", parameterToString(*r.keyIdIn, "csv"))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.manifest != nil {
		localVarQueryParams.Add("manifest", parameterToString(*r.manifest, "csv"))
	}
	if r.name != nil {
		localVarQueryParams.Add("name", parameterToString(*r.name, ""))
	}
	if r.nameContains != nil {
		localVarQueryParams.Add("name__contains", parameterToString(*r.nameContains, ""))
	}
	if r.nameIcontains != nil {
		localVarQueryParams.Add("name__icontains", parameterToString(*r.nameIcontains, ""))
	}
	if r.nameIn != nil {
		localVarQueryParams.Add("name__in", parameterToString(*r.nameIn, "csv"))
	}
	if r.nameStartswith != nil {
		localVarQueryParams.Add("name__startswith", parameterToString(*r.nameStartswith, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	if r.ordering != nil {
		localVarQueryParams.Add("ordering", parameterToString(*r.ordering, "csv"))
	}
	if r.repositoryVersion != nil {
		localVarQueryParams.Add("repository_version", parameterToString(*r.repositoryVersion, ""))
	}
	if r.repositoryVersionAdded != nil {
		localVarQueryParams.Add("repository_version_added", parameterToString(*r.repositoryVersionAdded, ""))
	}
	if r.repositoryVersionRemoved != nil {
		localVarQueryParams.Add("repository_version_removed", parameterToString(*r.repositoryVersionRemoved, ""))
	}
	if r.fields != nil {
		localVarQueryParams.Add("fields", parameterToString(*r.fields, ""))
	}
	if r.excludeFields != nil {
		localVarQueryParams.Add("exclude_fields", parameterToString(*r.excludeFields, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiContentContainerSignaturesReadRequest struct {
	ctx context.Context
	ApiService *ContentSignaturesApiService
	pulpId string
	fields *string
	excludeFields *string
}

// A list of fields to include in the response.
func (r ApiContentContainerSignaturesReadRequest) Fields(fields string) ApiContentContainerSignaturesReadRequest {
	r.fields = &fields
	return r
}

// A list of fields to exclude from the response.
func (r ApiContentContainerSignaturesReadRequest) ExcludeFields(excludeFields string) ApiContentContainerSignaturesReadRequest {
	r.excludeFields = &excludeFields
	return r
}

func (r ApiContentContainerSignaturesReadRequest) Execute() (*ContainerManifestSignatureResponse, *http.Response, error) {
	return r.ApiService.ContentContainerSignaturesReadExecute(r)
}

/*
ContentContainerSignaturesRead Inspect a manifest signature

ViewSet for image signatures.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param pulpId A UUID string identifying this manifest signature.
 @return ApiContentContainerSignaturesReadRequest
*/
func (a *ContentSignaturesApiService) ContentContainerSignaturesRead(ctx context.Context, pulpId string) ApiContentContainerSignaturesReadRequest {
	return ApiContentContainerSignaturesReadRequest{
		ApiService: a,
		ctx: ctx,
		pulpId: pulpId,
	}
}

// Execute executes the request
//  @return ContainerManifestSignatureResponse
func (a *ContentSignaturesApiService) ContentContainerSignaturesReadExecute(r ApiContentContainerSignaturesReadRequest) (*ContainerManifestSignatureResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ContainerManifestSignatureResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ContentSignaturesApiService.ContentContainerSignaturesRead")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pulp/api/v3/content/container/signatures/{pulp_id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"pulp_id"+"}", url.PathEscape(parameterToString(r.pulpId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		localVarQueryParams.Add("fields", parameterToString(*r.fields, ""))
	}
	if r.excludeFields != nil {
		localVarQueryParams.Add("exclude_fields", parameterToString(*r.excludeFields, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
